.video-container{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
  
.video-container:after{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.452);
}
  
.video-container video{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 157vw;
    height: 80vw;
	min-width: 177.6vh;
	min-height: 100vh;
	transform: translate(-50%, -50%);
}
  
.video-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	flex-direction: column;
	font-size: 1.5rem;
	text-transform: uppercase;
}
  
.wrapper {
  z-index: -1;
}
  